<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Bank Account</title>

    <style>
        #form_creating{
           float: left;
        }
        #form_creating h1{
            text-wrap: nowrap;
            text-align: center;
        }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div
      id="form_creating"
      class="w-md-25 w-sm-100 m-md-3 m-sm-1 pr-md-5 pt-2 border border-primary shadow p-3 mb-5 bg-body-tertiary rounded"
    >
      <h1 class="fs-2 text-primary"><b>Create New Bank Account</b></h1>
      <hr>
      <form action="/save_account" method="post">
        <label for="exampleFormControlInput1" class="form-label">Name :</label>
        <input type="text" class="form-control" name="user_name" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Mobile :</label>
        <input type="number" class="form-control" name="user_mobile" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Email :</label>
        <input type="email" class="form-control" name="user_email" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Address :</label>
        <textarea class="form-control" name="user_address" id=""></textarea>
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Pincode :</label>
        <input type="number" class="form-control" name="pincode" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">DOB :</label>
        <input type="date" class="form-control" name="birth_date" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Adhar NO :</label>
        <input type="number" class="form-control" name="adhar_card_no" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Pan NO :</label>
        <input type="text" class="form-control" name="pan_card_no" id="" />
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Select Gender :</label>
        <input type="radio" class="form-check-input" name="gender" id="" value="Male" /> &nbsp; Male &nbsp;&nbsp;&nbsp;
        <input type="radio" class="form-check-input" name="gender" id="Female" /> &nbsp; Female
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Account Type :</label>
        <select name="account_type" class="form-select" id="">
          <option value="">Select Bank Account Type --></option>
          <option value="Saving">Saving</option>
          <option value="Current">Current</option>
          <option value="Salary">Salary</option>
        </select>
        <br /><br />

        <label for="exampleFormControlInput1" class="form-label">Is Adhar linked with Pan:</label>
        <input type="checkbox" name="adhar_pan_link" id="" value="Yes" />
        <br /><br />

        <button class="btn btn-outline-success">Save</button>
        <br /><br />
      </form>
    </div>

    <div id="form_creating" class="w-md-50 w-sm-100 shadow-lg p-3 m-3 bg-body-tertiary rounded s">
      <h1 class="text-primary"><b>All Bank Details</b></h1>
      <table class="table ml-2 p-3">
        <thead>
          <tr style="text-wrap: nowrap;">
            <th scope="col" class="bg-success">UPDATE</th>
            <th scope="col">SRNO.</th>
            <th scope="col">Name</th>
            <th scope="col">Contact</th>
            <th scope="col">Email</th>
            <th scope="col">Address</th>
            <th scope="col">Pincode</th>
            <th scope="col">DOB</th>
            <th scope="col">Adhar NO </th>
            <th scope="col">Pan NO</th>
            <th scope="col">Gender</th>
            <th scope="col">Account Type</th>
            <th scope="col">Adhar_pan_Link</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<bank_accounts.length;i++) { %>
          <tr style="text-wrap: nowrap;">
            <td>
              <a href="/edit_bank_details/<%=bank_accounts[i].user_id%>"><button class="btn btn-outline-primary">Edit</button></a>
              <a href="/delete_bank_details/<%=bank_accounts[i].user_id%>"><button class="btn btn-outline-danger">Del</button></a>
            </td>
            <td><%=i+1%></td>
            <td><%=bank_accounts[i].user_name%></td>
            <td><%=bank_accounts[i].user_mobile%></td>
            <td><%=bank_accounts[i].user_email%></td>
            <td><%=bank_accounts[i].user_address%></td>
            <td><%=bank_accounts[i].pincode%></td>
            <td><%= bank_accounts[i].birth_date instanceof Date && !isNaN(bank_accounts[i].birth_date) ? bank_accounts[i].birth_date.toISOString().slice(0, 10) : "Invalid Date" %></td>
            <td><%=bank_accounts[i].adhar_card_no%></td>
            <td><%=bank_accounts[i].pan_card_no%></td>
            <td><%=bank_accounts[i].gender%></td>
            <td><%=bank_accounts[i].account_type%></td>
            <td><%=bank_accounts[i].adhar_pan_link%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  </body>
</html>
